[Desktop Entry]
Name=Start Syncthing on vso-pico
GenericName=File synchronization on vso-pico
Comment=Starts the main syncthing process in the background.
Exec=/usr/share/apx/distrobox/distrobox-enter  -n apx-vso-pico  --   /usr/bin/syncthing serve --no-browser --logfile=default 
Icon=syncthing
Terminal=false
Type=Application
Keywords=synchronization;daemon;
Categories=Network;FileTransfer;P2P
StartupWMClass=syncthing
